<section class="auth-page">

  <div class="auth-card">

    <div class="text-center mb-4">

      <h2>
        Create Account
      </h2>

      <p class="text-muted">
        Join Filmora today
      </p>

    </div>


    @if (error) {

      <div class="alert alert-danger">
        {{ error }}
      </div>

    }


    <form
      (ngSubmit)="register()"
    >

      <div class="mb-3">

        <label class="form-label">
          Full Name
        </label>

        <input
          type="text"
          class="form-control"
          name="name"
          [(ngModel)]="name"
          required
        >

      </div>


      <div class="mb-3">

        <label class="form-label">
          Email
        </label>

        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="email"
          required
        >

      </div>


      <div class="mb-3">

        <label class="form-label">
          Password
        </label>

        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="password"
          required
        >

      </div>


      <div class="mb-4">

        <label class="form-label">
          Confirm Password
        </label>

        <input
          type="password"
          class="form-control"
          name="confirmPassword"
          [(ngModel)]="confirmPassword"
          required
        >

      </div>


      <button
        class="btn btn-gold w-100"
        [disabled]="loading"
      >

        @if (loading) {
          Creating Account...
        } @else {
          Register
        }

      </button>

    </form>


    <p class="text-center mt-4">

      Already have an account?

      <a routerLink="/login">
        Login
      </a>

    </p>

  </div>

</section>