<section class="container py-5">

  <div class="text-center mb-5">

    <p class="gold-text">
      YOUR SELECTION
    </p>

    <h1>
      Rental Cart
    </h1>

  </div>


  @if (message) {

    <div class="alert alert-success">
      {{ message }}
    </div>

  }


  @if (error) {

    <div class="alert alert-danger">
      {{ error }}
    </div>

  }


  @if (movies.length === 0) {

    <div class="text-center py-5">

      <h3>
        Your cart is empty
      </h3>

      <p class="text-muted">
        Browse our movie collection and
        add something to your cart.
      </p>

      <a
        routerLink="/movies"
        class="btn btn-gold"
      >
        Browse Movies
      </a>

    </div>

  } @else {

    <div class="row">

      <div class="col-lg-8">

        @for (
          movie of movies;
          track movie._id
        ) {

          <div class="cart-item mb-3">

            <img
              [src]="movie.image || 'assets/movie-placeholder.jpg'"
              [alt]="movie.title"
            >

            <div class="flex-grow-1">

              <h5>
                {{ movie.title }}
              </h5>

              <p class="text-muted">
                {{ movie.genreId.name }}
              </p>

              <strong class="gold-text">
                R{{ movie.rentalPrice }}
              </strong>

            </div>

            <button
              class="btn btn-outline-danger"
              (click)="remove(movie._id)"
            >
              Remove
            </button>

          </div>

        }

      </div>


      <div class="col-lg-4">

        <div class="summary">

          <h4>
            Rental Summary
          </h4>

          <hr>

          <div class="d-flex justify-content-between">

            <span>
              Movies
            </span>

            <span>
              {{ movies.length }}
            </span>

          </div>

          <div
            class="d-flex justify-content-between mt-3"
          >

            <strong>
              Total
            </strong>

            <strong class="gold-text">
              R{{ cartService.getTotal() }}
            </strong>

          </div>

          <button
            class="btn btn-gold w-100 mt-4"
            (click)="checkout()"
            [disabled]="loading"
          >

            @if (loading) {
              Processing...
            } @else {
              Rent Movies
            }

          </button>

        </div>

      </div>

    </div>

  }

</section>
